# Dasar & Manipulasi Data
pandas
numpy
scipy

# Visualisasi
matplotlib
seaborn

# Machine Learning
scikit-learn
umap-learn
sentence-transformers
joblib

# Eksekusi Notebook via GitHub Actions
nbformat
nbconvert
ipykernel
ipython

# Integrasi Hugging Face
huggingface_hub